# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/

# Spring Boot
posty-backend/target/
posty-backend/data/
posty-backend/*.mv.db
posty-backend/*.trace.db

# IDE and OS
.idea/
*.iml
.DS_Store
Thumbs.db
